.vbox {
  -fx-background-color: #fffefffb;
  -fx-cursor: hand;
  -fx-font: 36px "FrakturNo2";
  -fx-text-alignment: center;
}

.text-field {
  -mfx-editable: true;
  -mfx-animated: true;
  -mfx-caret-visible: true;
  -mfx-float-mode: BORDER;
  -fx-text-fill: black;
  -mfx-text-limit: 20;
  -fx-font: 20px "glimmer of light";
}

.mfx-button {
  -fx-background-color: #442a1b;
  -fx-font: 30px "glimmer of light";
  -fx-text-fill: #fffefffb;
  -fx-cursor: hand;
  -fx-text-alignment: center;
  -mfx-button-type: RAISED;
}
.mfx-button .text {
  -fx-stroke: #ffffff; /* Colore del bordo del testo */
  -fx-stroke-width: 1px; /* Spessore del bordo del testo */
}
.mfx-button.small-button {
  -fx-background-color: #442a1b;
  -fx-font: 20px "glimmer of light";
  -fx-text-fill: #fffefffb;
  -fx-cursor: hand;
  -fx-text-alignment: center;
  -mfx-button-type: RAISED;
  -mfx-depth-level: LEVEL5;
}
.rounded-button {
  -fx-background-radius: 20; /* Imposta il raggio di arrotondamento */
}

.label {
  -fx-text-fill: #442a1b;
  -fx-cursor: hand;
  -fx-font: 25px "glimmer of light";
  -fx-text-alignment: center;
  -fx-border-radius: 20;
}
.label .text {
  -fx-text-fill: #222222;
}
.generalLabel {
  -fx-border-width: 2px;
  -fx-border-color: rgb(0, 0, 0);
}

.stackpane-black {
  -fx-background-color: #000000fb;
  -fx-cursor: hand;
}

.stackpane-default {
  -fx-background-color: #fffefffb;
  -fx-cursor: hand;
}

.warning-label {
  -fx-text-fill: #ff0000;
  -fx-font: 20px "glimmer of light";
  -fx-text-alignment: center;
}

.stackpane-ruleBook{
  -fx-background-image: url(../Images/Misc/Codex_esploso.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-cursor: hand;
  -fx-font: 36px "FrakturNo2";
  -fx-text-alignment: center;
}

.stackpane-playerSlot1{
  -fx-background-image: url(../Images/LobbyPlayerSlot/WiseMan1.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-background-radius: 40;
  -fx-border-color: #000000fb;
}
.stackpane-playerSlot2{
  -fx-background-image: url(../Images/LobbyPlayerSlot/WiseMan2.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-background-radius: 40;
  -fx-border-color: #000000fb;
}
.stackpane-playerSlot3{
  -fx-background-image: url(../Images/LobbyPlayerSlot/WiseMan3.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-background-radius: 40;
  -fx-border-color: #000000fb;
}
.stackpane-playerSlot4{
  -fx-background-image: url(../Images/LobbyPlayerSlot/WiseMan4.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-background-radius: 40;
  -fx-border-color: #000000fb;
}

.player-text-field {
  -mfx-editable: false;
  -mfx-animated: true;
  -mfx-caret-visible: true;
  -mfx-float-mode: BORDER;
  -fx-text-fill: black;
  -fx-font: 15px "glimmer of light";
}