.text-field {
  -mfx-editable: true;
  -mfx-animated: true;
  -mfx-caret-visible: true;
  -mfx-float-mode: BORDER;
  -fx-text-fill: black;
  -mfx-text-limit: 20;
  -fx-font: 12px "glimmer of light";
}

.vbox {
  -fx-background-color: #fffefffb;
  -fx-cursor: hand;
  -fx-font: 36px "FrakturNo2";
  -fx-text-alignment: center;
}
.stackpane-black {
  -fx-background-color: #000000fb;
  -fx-cursor: hand;
}

.mfx-button.small-button {
  -fx-background-color: linear-gradient(to bottom, #1f8e30, #23281f);
  -fx-font: 15px "glimmer of light";
  -fx-text-fill: #fffefffb;
  -fx-cursor: hand;
  -fx-text-alignment: center;
  -mfx-button-type: RAISED;
  -mfx-depth-level: LEVEL5;
}

.mfx-button {
  -fx-background-color: #442a1b;
  -fx-font: 30px "glimmer of light";
  -fx-text-fill: #fffefffb;
  -fx-cursor: hand;
  -fx-text-alignment: center;
  -mfx-button-type: RAISED;
}

.mfx-button .text {
  -fx-stroke: #ffffff; /* Colore del bordo del testo */
  -fx-stroke-width: 1px; /* Spessore del bordo del testo */
}

.rounded-button {
  -fx-background-radius: 20; /* Imposta il raggio di arrotondamento */
}

.label {
  -fx-background-color: linear-gradient(
    from 0% 100% to 0% 0%,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -fx-background-radius: 20;
  -fx-padding: 15px, 5px;
  -fx-text-fill: white;
  -fx-cursor: hand;
  -fx-font: 36px "glimmer of light";
  -fx-text-alignment: center;
  -fx-border-radius: 20;
}

.label .text {
  -fx-stroke: #ffffff;
  -fx-stroke-width: 2px;
  -fx-text-fill: #222222;
}

.generalLabel {
  -fx-border-width: 2px;
  -fx-border-color: rgb(0, 0, 0);
}
