.firstStyle {
  -fx-background-color: #fffefffb;
  -fx-cursor: hand;
  -fx-font: 36px "FrakturNo2";
  -fx-text-alignment: center;
}

.mfx-button {
  -fx-background-color: #442a1b;
  -fx-font: 30px "FrakturNo2";
  -fx-text-fill: #fffefffb;
  -fx-cursor: hand;
  -fx-text-alignment: center;
}

.mfx-button .text {
  -fx-stroke: rgb(255, 255, 255); /* Colore del bordo del testo */
  -fx-stroke-width: 1px; /* Spessore del bordo del testo */
}

.rounded-button {
  -fx-background-radius: 20; /* Imposta il raggio di arrotondamento */
}

.label {
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-font: 36px "FrakturNo2";
  -fx-text-alignment: center;
}
