.text-label {
    -fx-text-fill: -black;
    -fx-font: 20px 'glimmer of light';
    -fx-text-alignment: center;
}

.ready-label {
    -fx-background-color: -dark-green;
    -fx-font: 14px 'glimmer of light';
    -fx-text-fill: -white;
    -fx-text-alignment: center;
    -mfx-button-type: RAISED;
    -mfx-depth-level: LEVEL5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: -light-blue;
}