@import "Colors.css";

#resource-count-window {
    -fx-background-color: -light-green;
    -fx-background-radius: 10;
    -fx-border-color: -gold;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

#resource-box{
    -fx-background-color: -light-beige;
    -fx-background-radius: 10;
    -fx-border-radius: 2;
}