@import "Colors.css";

.mfx-simple-text-field {
    -fx-text-fill: -black;
    -fx-font: 20px "glimmer of light";
}

.mfx-simple-small-text-field {
    -fx-text-fill: -black;
    -fx-font: 12px "glimmer of light";
}

.lobby-chat-background{
    -fx-background-image: url(../Images/Misc/bombyx_Behance.jpg) ;
    -fx-background-size: 100%;
    -fx-background-radius: 10;
    -fx-background-insets: 20;
    -fx-border-width: 2;
    -fx-border-color: -dark-green;
}