@import "Colors.css";

.mfx-simple-text-field {
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 20px "glimmer of light";
}

.mfx-simple-small-text-field {
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 12px "glimmer of light";
}