
.mfx-text-field {
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 20px "glimmer of light";
}


.mfx-text-field .floating-text {
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 20px "glimmer of light";
}


.mfx-small-text-field {
    -fx-text-fill: -black;
    -mfx-text-limit: 10;
    -fx-font: 12px "glimmer of light";
}

.mfx-small-text-field .floating-text {
    -fx-text-fill: -black;
    -mfx-text-limit: 10;
    -fx-font: 12px "glimmer of light";
}


.player-text-field {
    -mfx-editable: false;
    -mfx-animated: true;
    -mfx-caret-visible: true;
    -mfx-float-mode: BORDER;
    -fx-text-fill: -black;
    -fx-font-family:"glimmer of light";
    -fx-font-size: 12px;
}