@import 'Colors.css';

.text-field {
    -mfx-editable: true;
    -mfx-animated: true;
    -mfx-caret-visible: true;
    -mfx-float-mode: BORDER;
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 20px "glimmerOfLight";
}

.small-text-field {
    -mfx-editable: true;
    -mfx-animated: true;
    -mfx-caret-visible: true;
    -mfx-float-mode: BORDER;
    -fx-text-fill: -black;
    -mfx-text-limit: 20;
    -fx-font: 12px "glimmerOfLight";
}

.player-text-field {
    -mfx-editable: false;
    -mfx-animated: true;
    -mfx-caret-visible: true;
    -mfx-float-mode: BORDER;
    -fx-text-fill: -black;
    -fx-font-family:"glimmerOfLight";
    -fx-font-size: 15px;
}